<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("includes/navbar") %>
        <br><br>
        <div class="poll-container">

            <div class="polls">
                <% for(poll of polls) { %>
                    <div class="poll">
                        <div class="desc">
                            <h2>
                                <%= poll.title %>
                            </h2>
                            <form id="poll-form">
                                <% for(option of poll.options) { %>
                                    <input type="radio" name="option" id="<%= poll.title %>+<%=option %>">
                                    <label for="<%= poll.title %>+<%=option %>">
                                        <%= option %>
                                    </label><br>
                                    <br>
                                    <% } %>
                                        <button type="submit">Vote</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>


        <br><br>
        <%- include("includes/contact") %>
            <%- include("includes/footer") %>
</body>

</html>